{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Enter The Chat Room</h3>
  <h3>(enter MAIN code to join main room)</h3>
  <div>
    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
    />
  </div>
  <div>
    <input type="text" placeholder="Room Code" name="code" />
  </div>
  <button type="submit" name="join">Join a Room</button>
  <button type="submit" name="create" class="create-btn">Create a Room</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>

<style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f0f0f0;
            /* Optional background color */
            padding: 10px;
            /* Optional padding */
            text-align: center;
            /* Optional text alignment */
        }
    </style>


    <footer>
        Kindly provided by <a href='https://schoolutilshub.up.railway.app/'>schoolutils</a> and created by slvreal
    </footer>
{% endblock %}
