{% extends 'base.html' %} 
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <input type="file" id="file-input" accept="image/*,video/*" />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, type) => {
    let content = '';
    if (type === 'text') {
        content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>`;
    } else if (type === 'image' || type === 'video') {
        content = `
        <div class="media">
            <strong>${name}</strong>: <br>
            ${type === 'image' ? `<img src="${msg}" alt="Image" style="max-width: 100%; height: auto;" />` : 
            `<video controls style="max-width: 100%; height: auto;">
                <source src="${msg}" type="video/mp4">
                <source src="${msg}" type="video/ogg">
                Your browser does not support the video tag.
            </video>`}
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>`;
    }
    messages.innerHTML += content;
};


  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.type);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    const fileInput = document.getElementById("file-input");
    
    if (message.value === "" && fileInput.files.length === 0) return;

    if (message.value !== "") {
      socketio.emit("message", { message: message.value, type: 'text' });
    }

    if (fileInput.files.length > 0) {
        const file = fileInput.files[0];
        const reader = new FileReader();
        reader.onloadend = function () {
            let type = file.type.startsWith('image/') ? 'image' : 'video';
            const formattedMessage = reader.result; // directly use the data URL
            socketio.emit("message", { message: formattedMessage, type: type });
        };
        reader.readAsDataURL(file);
    }

    message.value = "";
    fileInput.value = "";  // Clear file input
  };

  document.getElementById("message").addEventListener("keydown", function (e) {
    if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
      sendMessage();
    }
  });
  
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.type}}");
</script>
{% endfor %}
{% endblock %}
